$cl: 'colors-area';

.#{$cl} {
    &__container {
        display: flex;
        justify-content: center;
        position: relative;
        border: 1px solid grey;
        border-radius: 5px;
        background-color: #f8f8f8;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            user-select: none;
        }
    }
}
